// drawer nav
.q-drawer {
    .q-item {
        opacity: .6;
        &.q-router-link--exact-active {
            opacity: 1;    
        }
    }
}

// dark overrides
.body--dark {
    .bg-primary,
    .q-layout__section--marginal {
        background-color: $primary-dark !important;
    }
    .q-drawer {
        border: none;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin-left: 10px;
}

// entries
.entries {
    .q-slide-item {
        border: 1px solid rgba(0, 0, 0, 0.12);
        &:not(:first-child) {
            margin-top: -1px;
        }
    }
}